[user]
    # Please adapt and uncomment the following lines:
    name = andrew young
    email = andrew.young@castlabs.com
[github]
    user = andrewyoung1991
[core]
    editor = vi
[credential]
	helper = store
